html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--dark);
  background-color: var(--white);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.167;
  color: var(--dark);
}
